@{
    var deleteCategoryId = Convert.ToInt32(ViewData["DeleteCategoryId"]);
}

<div class="hidden-phone visible-desktop action-buttons">

    @using (Html.BeginForm("DeleteCategory", "Category", FormMethod.Post))
    {
        <input type="hidden" value="@deleteCategoryId" name="DeleteCategoryId"/>
        <button type="submit" class="btn btn-mini btn-danger" onclick="return confirm('Bạn có muốn xóa dữ liệu không ?');">
             <i class="ace-icon fa fa-trash bigger-120"></i>
        </button> 
    }

</div>
