@using Erp.BackOffice.Helpers

@{
    var inputUI = ViewData["inputUI"];
    var validUI = ViewData["validUI"];
}

            @inputUI
        </div>
        <div class="clearfix">
            @validUI
        </div>
    </div>
</div>

