.RadComboBox{width:12em;line-height:1.42857143;text-align:left;display:inline-block;vertical-align:middle;white-space:nowrap}.RadComboBox .rcbInner{padding:4px 2em 4px 10px;border-width:1px;border-style:solid;background-repeat:repeat-x;background-position:0 0;display:block;position:relative}.RadComboBox .rcbInner.rcbToggleButtonHidden{padding-right:10px}.RadComboBox .rcbInput{margin:0;padding:0;width:100%;height:1.42857143em;border:0;box-shadow:none;outline:0;color:inherit;background:0;font:inherit;display:inline-block;-webkit-appearance:none;overflow:hidden;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis}.RadComboBox .rcbReadOnly .rcbInput,.RadComboBox .rcbDisabled .rcbInput{cursor:default}.RadComboBox .rcbDisabled .rcbInput{opacity:1}.RadComboBox .rcbEmptyMessage{font-style:italic;filter:alpha(opacity=80);opacity:.8}.RadComboBox .rcbActionButton{padding:4px;min-width:1em;color:inherit;border-width:0 0 0 1px;border-style:solid;box-sizing:content-box;background-color:transparent;background-repeat:repeat-x;background-position:0 0;font:inherit;position:absolute;top:0;bottom:0;right:0;left:auto;outline:0}.RadComboBox .rcbActionButton::-moz-focus-inner{padding:0;border:0;outline:0}.RadComboBox .rcbActionButton .p-icon{width:1em;cursor:default}.RadComboBox .rcbActionButton .rcbButtonText{display:none}.RadComboBox .rcbActionButton:active span,.RadComboBox .rcbActionButton:focus span{position:relative;top:0;left:0}.RadComboBox .rcbDisabled{filter:alpha(opacity=50);opacity:.5}.RadComboBox .rcbReadOnly .rcbActionButton{border-width:0;outline:0}.RadComboBox .rcbReadOnly .rcbActionButton,.RadComboBox .rcbReadOnly.rcbHovered .rcbActionButton,.RadComboBox .rcbReadOnly.rcbFocused .rcbActionButton,.RadComboBox .rcbReadOnly.rcbExpanded .rcbActionButton{box-shadow:none;color:inherit;background:0}.RadComboBox .rcbLabel{padding-top:5px;padding-right:10px;float:left;vertical-align:baseline}.RadComboBox_rtl{text-align:right}.RadComboBox_rtl .rcbInner{padding-right:10px;padding-left:2em}.RadComboBox_rtl .rcbInner.rcbToggleButtonHidden{padding-left:10px}.RadComboBox_rtl .rcbActionButton{border-right-width:1px;border-left-width:0;right:auto;left:0}.RadComboBox_rtl .rcbLabel{float:right;padding-right:0;padding-left:10px}.rcbSlide{display:none;position:absolute;overflow:hidden}.RadComboBoxDropDown{border-width:1px;border-style:solid;text-align:left;cursor:default;position:relative;line-height:1.42857143;box-sizing:border-box}.RadComboBoxDropDown input[type="checkbox"]{margin:3px 3px 3px 4px}.RadComboBoxDropDown.rcbAutoWidth{min-width:12em}.RadComboBoxDropDown.rcbAutoWidth .rcbList{white-space:nowrap}.RadComboBoxDropDown .rcbItem,.RadComboBoxDropDown .rcbHovered,.RadComboBoxDropDown .rcbDisabled{min-height:1.42857143em}.RadComboBoxDropDown.rcbAutoWidthResizer .rcbItem,.RadComboBoxDropDown.rcbAutoWidthResizer .rcbHovered,.RadComboBoxDropDown.rcbAutoWidthResizer .rcbDisabled{padding-right:20px}.RadComboBoxDropDown .rcbScroll{height:100%;position:relative;overflow:auto}.RadComboBoxDropDown .rcbHeader,.RadComboBoxDropDown .rcbFooter{padding:4px 10px;border:0 solid transparent;border-color:inherit}.RadComboBoxDropDown .rcbHeader{margin-bottom:1px;border-bottom-width:1px}.RadComboBoxDropDown .rcbFooter{margin-top:1px;border-top-width:1px}.RadComboBoxDropDown .rcbList{margin:0;padding:0;list-style:none;position:relative}.RadComboBoxDropDown li{line-height:inherit}.RadComboBoxDropDown .rcbItem,.RadComboBoxDropDown .rcbHovered,.RadComboBoxDropDown .rcbDisabled,.RadComboBoxDropDown .rcbLoading,.RadComboBoxDropDown .rcbCheckAllItems,.RadComboBoxDropDown .rcbCheckAllItemsHovered{*zoom:1;padding:4px 10px;background-repeat:repeat-x}.RadComboBoxDropDown .rcbItem:after,.RadComboBoxDropDown .rcbHovered:after,.RadComboBoxDropDown .rcbDisabled:after,.RadComboBoxDropDown .rcbLoading:after,.RadComboBoxDropDown .rcbCheckAllItems:after,.RadComboBoxDropDown .rcbCheckAllItemsHovered:after{content:"";height:0;clear:both;display:block}.RadComboBoxDropDown .rcbItem>label,.RadComboBoxDropDown .rcbHovered>label,.RadComboBoxDropDown .rcbDisabled>label,.RadComboBoxDropDown .rcbLoading>label,.RadComboBoxDropDown .rcbCheckAllItems>label,.RadComboBoxDropDown .rcbCheckAllItemsHovered>label{margin:-4px -10px;padding:4px 10px;font-weight:normal;display:block}.RadComboBoxDropDown .rcbNoWrap .rcbItem,.RadComboBoxDropDown .rcbNoWrap .rcbHovered,.RadComboBoxDropDown .rcbNoWrap .rcbDisabled,.RadComboBoxDropDown .rcbNoWrap .rcbLoading{white-space:nowrap}.RadComboBoxDropDown .rcbDisabled{cursor:default;filter:alpha(opacity=50);opacity:.5}.RadComboBoxDropDown .rcbLoading{text-align:center}.RadComboBoxDropDown em{font-style:normal;font-weight:bold}.RadComboBoxDropDown .rcbCheckAllItems,.RadComboBoxDropDown .rcbCheckAllItemsHovered{margin-bottom:1px;border:0 solid transparent;border-color:inherit;border-bottom-width:1px}.RadComboBoxDropDown .rcbCheckBox,.RadComboBoxDropDown .rcbCheckAllItemsCheckBox{padding:0;margin:0;vertical-align:middle;position:relative;top:-1px;margin-right:.3em}.RadComboBoxDropDown .rcbImage{margin:0 6px 2px 0;vertical-align:middle}.RadComboBoxDropDown .rcbMoreResults{margin:1px 0 0 0;padding:2px 5px;border:0 solid transparent;border-color:inherit;border-top-width:1px;border-style:solid;text-align:center;cursor:pointer}.RadComboBoxDropDown .rcbMoreResults a{color:inherit;display:inline-block;vertical-align:middle;overflow:hidden;cursor:pointer;text-decoration:none}.RadComboBoxDropDown .rcbSeparator{margin:5px 0 0;font-weight:bold}.RadComboBoxDropDown .rcbSeparatedList .rcbSeparator{padding-left:5px;padding-right:5px}.RadComboBoxDropDown_rtl{text-align:right;direction:rtl}.RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbItem,.RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbHovered,.RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbDisabled{padding-left:20px;padding-right:10px}.RadComboBoxDropDown_rtl .rcbImage{margin:0 0 2px 6px}.RadComboBoxWithLabel .rcbInner{display:block;overflow:hidden}

.RadComboBox_Silk{color:#333}.RadComboBox_Silk .rcbInner{border-color:#c4c4c4;color:#3b3b3b;background-color:#fff}.RadComboBox_Silk .rcbActionButton{border-color:#c4c4c4;color:#5f5f5f;background-color:#e3e3e3;background-image:linear-gradient(white,#e3e3e3)}.RadComboBox_Silk .rcbHovered{border-color:#0092ab;color:black;background-color:#fff}.RadComboBox_Silk .rcbHovered .rcbActionButton{border-color:#0092ab;color:#fff;background-color:#0092ab;background-image:linear-gradient(#00acca,#0092ab)}.RadComboBox_Silk .rcbFocused,.RadComboBox_Silk .rcbExpanded{border-color:#1193aa;color:#333;background-color:#fff}.RadComboBox_Silk .rcbFocused .rcbActionButton,.RadComboBox_Silk .rcbExpanded .rcbActionButton{border-color:#1193aa;color:#fff;background-color:#14afca;background-image:none}.RadComboBox_Silk .rcbReadOnly{border-color:#c4c4c4;color:#5f5f5f;background-color:#e3e3e3;background-image:linear-gradient(white,#e3e3e3)}.RadComboBox_Silk .rcbReadOnly.rcbHovered{border-color:#0092ab;color:#fff;background-color:#0092ab;background-image:linear-gradient(#00acca,#0092ab)}.RadComboBox_Silk .rcbReadOnly.rcbFocused,.RadComboBox_Silk .rcbReadOnly.rcbExpanded{border-color:#1193aa;color:#fff;background-color:#14afca;background-image:none}.RadComboBoxDropDown_Silk{border-color:#d9d9d9;color:#292929;background-color:#fff}.RadComboBoxDropDown_Silk .rcbSeparator{color:#5f5f5f;background-color:#e3e3e3}.RadComboBoxDropDown_Silk .rcbHovered{color:#333;background-color:#bceff8}.RadComboBoxDropDown_Silk .rcbSelected{color:#fff;background-color:#81cfdc}.RadComboBoxDropDown_Silk .rcbLoading{color:#333;background-color:#bceff8}.RadComboBoxDropDown_Silk .rcbItem em{color:#333;background-color:#bceff8}

.control-rcb:-internal-list-box option:checked {
                color:#1f9e9e;
}
.control-rcb:not(:-internal-list-box) option:checked {
	color:#1f9e9e;
}
.control-rcb:not(:-internal-list-box) option {
	display:none !important;
}

/** Customize the demo canvas */
.rcbContainer{
	position:relative;
}
.rcbContainer label {
	padding-right: 10px;
	width: 185px;
	display: inline-block;
}

.rcbContainer .RadButton {
	margin-top: 20px;
}

/** Columns */
.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul,
.rcbHovered ul,
.rcbDisabled ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	list-style-type: none;
    overflow:hidden;
}

.RadComboBoxDropDown .rcbHeader {
	padding: 5px 27px 4px 7px;
}
.RadComboBoxDropDown .rcbFooter{
    background: #f7f7f7;
}

.rcbScroll {
	overflow: scroll !important;
	overflow-x: hidden !important;
    margin-bottom:3px;
}

.colHeader, .colValue, .colSearch {
	margin: 0;
	padding: 0 5px 0 5px;
	width: 30%;
	line-height: 14px;
	float: left;
    border-right: 1px solid #c1c1c1;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
li.colValue img{
    width:100%;
}

ul li:last-child{
    border-right:none;
}
li.hideItem + li{
    padding-left:0px;
}


.rcbHeader .rcb-input-search{
    width:100%;
    font-size:12px;
}
.rcbHeader .label-guide-search{
    margin-bottom: 5px;font-size: 11px;
}

/** Multiple rows and columns */
.multipleRowsColumns .rcbItem,
.multipleRowsColumns .rcbHovered {
	float: left;
	margin: 0 1px;
	min-height: 13px;
	overflow: hidden;
	padding: 2px 19px 2px 6px;
	width: 193px;
}

.RadComboBoxDropDown .rcbItem{
    border-bottom:1px solid #c1c1c1;
}
.RadComboBoxDropDown .rcbHeader{
    background: #f7f7f7;
}
.RadComboBoxDropDown .rcbItem:hover, .RadComboBoxDropDown .rcbItem.selected{
	background: #428bca;
	color: #fff;
}
.RadComboBoxDropDown .rcbItem.disabled{
	background: #c4c4c4;
	color: #fff;
}
.RadComboBoxDropDown .rcbItem.hideItem, .RadComboBoxDropDown .rcbItem .hideItem, .RadComboBoxDropDown .rcbHeader .hideItem{
	display:none;
}

.rcbSlide, .rcbContainer{
	transition:all ease-in-out 200ms;
	-webkit-transition:all ease-in-out 200ms;
	-moz-transition:all ease-in-out 200ms;
}

.rcbHoverImage{
    position:absolute;
    z-index: 222222;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.21);
}
.rcbHoverImage img{
    width:100%;
}