
@model List<string>

@{
    Layout = null;
    int total = Model.Count;
    int itemOfGroup = 12;
    int colGroup = total / itemOfGroup;
    int index = 0;
}

<div class="row">
    @for (int i = 0; i <= colGroup; i++)
    {
        <div class="col-sm-3">
            @for (int j = 0; j < itemOfGroup; j++)
            {
                if (index == total)
                {
                    break;
                }
                else
                {
                    <p><a class="btn_formula_item" onclick="selectSalarySettingDetail(0, '@Model[index]')">@Model[index]</a></p>
                    index++;
                }
            }
        </div>
    }
</div>

